<div style="text-align:center" >
<h1>Login</h1>
<!-- {{message}}
{% if message %}
<div class="text-danger">Login first </div><br>
{% endif %} -->
<form method="POST" action="" enctype="multipart/form-data">
  {% csrf_token %}
  {{ login_form.as_p }}
  <button type="submit" value='login'>Login</button>
</form>
<br>
<p><strong>-- OR --</strong></p>
  <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a><br>

<h3>Or <a href="{% url 'register' %}">Click Here</a> To Register</h3>
</div>
